html, body, #map-canvas {
	height: 100%;
	margin: 0;
	padding: 10px;
}

#new-search {
	width: 100%;
	padding: 2%;
	border: none;
	background-color: #F7F7F7;
	z-index: 2;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.col-md-3 {
	max-width: 250px;
}

.result {
	margin: 2%;
	background-color: #F7F7F7;
	padding: 2%;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	display: block;
}

.error-text {
	font-size: 3vw;
	text-align: center;
}

.button {
	margin: 2%;
}

.vert-md {
	padding-top: 1.5%;
}