..controls, .pac-input, .results {
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
}
.controls, .hide-results, .results {
    border-radius: 2px 0 0 2px;
    border: 1px solid transparent;
}
.pac-input, .prev-contain, body {
    font-family: Roboto;
    font-weight: 300;
}
.error-text, .text-center {
    text-align: center;
}
.info-display, .info-grp, .info-small, .pac-input {
    visibility: visible;
}
.pac-input, .result {
    text-overflow: ellipsis;
}
.controls, .results {
    outline: 0;
}
.map-canvas, body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body > .prev-contain {
    background-color: transparent;
    padding-bottom: 15px;
}
.pac-input {
    width: 100%;
    z-index: 11;
}
.pac-input, .prev-contain {
    transition: margin 1s, padding 1s, top 1s, left 1s;
    background-color: #fff;
    font-size: 15px;
    padding: 0 11px 0 13px;
}
body {
    font-size: 15px;
    position: relative;
}
.controls {
    margin-top: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
}
.pac-input:focus {
    border-color: #4d90fe;
}
.prev-contain {
    top: 10px;
    left: 10px;
    width: 400px;
    margin-left: 12px;
    z-index: 10;
    position: absolute;
}
.col-50, .info-display, .pac-input, .page-results {
    position: relative;
}
.hidden {
    display: none;
}
.img-responsive {
    margin-left: auto;
    display: block;
    max-width: 100%;
    height: auto;
}
.hide-results {
    margin-top: 1px;
}
.info-display, .info-small, .page-results, .result {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    display: block;
    overflow: auto;
    transition: background-color .5s;
    border-bottom: 1px solid #d4d4d4;
}
.result {
    min-height: 75px;
}
.info-display {
    font-size: 12px;
}
.secondary-info {
    font-size: 10px;
}
.error-text {
    font-size: 3vw;
}
.results {
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid #d4d4d4;
}
.info-grp > .results {
    max-height: 200px;
    overflow-y: scroll;
}
.selected {
    background-color: #d4d4d4;
}
.col-50 {
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 50%;
    overflow: auto;
}
.page-results {
    height: 32px;
}
.page-results>div {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.rvs-btn:after {
    font-weight: 700;
    content: '\003008'}
.fwd-btn:after {
    font-weight: 700;
    content: '\003009'}
.fwd-btn:hover:after, .rvs-btn:hover:after {
    color: #d4d4d4;
}
.page-results {
    text-align: right;
    font-size: 12px;
    font-weight: 400;
}
.searchTitle {
    font-weight: 700;
}
.info-display > div {
    position: relative;
}
.currentItem-title {
    position: relative;
    float: left;
}
.currentItem-rating {
    position: absolute;
    right: 0;
}
@media only screen and (max-width:444px) {
    body {
        font-size: 12px;
    }
    header p {
        padding-left: 4.5em;
    }
    .prev-contain {
        width: 100%;
        max-width: 400px;
        padding: 5px;
        top: 0;
        left: 0;
        margin: 0;
    }
    .pac-input {
        margin: 0;
        max-width: 376px;
    }
    .info-display, .info-grp {
        margin: auto;
        max-width: 376px;
    }
}